<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.select :company_id, options_from_collection_for_select(@companies, :id, :name, :selected => f.object.company_id) %>
  </div>

  <div class="field">
    <p>Käytä <a target="_blank" href="https://word2cleanhtml.com/">https://word2cleanhtml.com/</a> descriptionin mailista html muuntamiseen.</p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "100", :rows => "18" %>
  </div>
  <div class="field">
    <%= f.label :begin %><br>
    <%= f.date_select :begin %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :tag_list %><br>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
