<!DOCTYPE html>
<html>
<head>
  <title>Jobboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navibar">
    <%= link_to 'companies', companies_path %>
    <%= link_to 'new_company', new_company_path %>
    <%= link_to 'jobs', jobs_path %>
    <%= link_to 'new_job', new_job_path %>
    <%= link_to 'tags', tags_path %>
    <%= link_to 'new_tag', new_tag_path %>
  </div>

<%= yield %>

</body>
</html>
